<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GitHub Users Parser</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>

<div class="card mr-5 ml-5" style="width: 18rem; float: left">
    <div class="card-body">
        <h5 class="card-title">Parse users short data</h5>
        <p class="card-text">Get short data for all GitHub users on different streams.
            Select options to start analyzing your data.</p>
        <!--        <a href="/users?from=0&to=100" target="_blank" class="card-link">/users?from=0&to=100</a>-->
        <form method="get" target="_blank"  action="/users">
            <label>
                <input type="text" name="from" placeholder="From" value="0"/>
            </label>
            <label>
                <input type="text" name="to" placeholder="To" value="25000000"/>
            </label>
            <label>
                <input type="text" name="threads" placeholder="Thread's count (Max: 40)" value="40"/>
            </label>
            <label>
                <input type="submit" name="state" value="Parse">
            </label>
        </form>
    </div>
</div>

<div class="card mr-5" style="width: 18rem; float: left">
    <div class="card-body">
        <h5 class="card-title">Parse users detail data</h5>
        <p class="card-text">Get detail data for all GitHub users on different streams.
            Select options to start analyzing your data.</p>
        <!--        <a href="/users?from=0&to=100" target="_blank" class="card-link">/users?from=0&to=100</a>-->
        <form method="get" target="_blank" action="/users/detail">
            <label>
                <input type="text" name="from" placeholder="From" value="0"/>
            </label>
            <label>
                <input type="text" name="to" placeholder="To" value="25000000"/>
            </label>
            <label>
                <input type="text" name="threads" placeholder="Thread's count (Max: 40)" value="40"/>
            </label>
            <label>
                <input type="submit" name="state" value="Parse">
            </label>
        </form>
    </div>
</div>

<div class="card m-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Display results</h5>
        <p class="card-text">
        <p>
            Display results of GitHub users data analyze.
        </p>
        <a href="/result" target="_blank">Display</a>
        </p>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/main.css}"/>
</body>
</html>
